<!--<div class="container">-->
  <!--<div class="row">-->
  <!--  <div class="col-md-8">-->
<table>
  <h2>User info</h2>
  <thead>
    <tr>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"%>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!--<div class="col-md-8">-->
      <td>Name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <!--<div class="col-md-8">-->
      <td>Introduction</td>
      <td><%= user.introduction %></td>
    </tr>
    </tbody>
  </table>
    <tr>
      <td colspan="2">
        <% if current_user.id == user.id %>
         <%= link_to edit_user_path(current_user), class:"btn btn-default btn-block" do %>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
         <% end %>
        <% else %>
         <%= link_to edit_user_path(user.id), class:"btn btn-default btn-block" do  %>
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
         <% end %>
        <% end %>
      </td>
    </tr>